body{
  background-color:rgba(76, 115, 178, 0.2);
}
    


h1{
  color:red;
  font-size:60px;
  margin:0 auto;
}
a{
  width:280px;
  font-size:25px;
  display:block; 
  margin:35px 0;
  border:1px #000 solid;
}
